/cube
/build
/compile_commands.json

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/GPATH
/GRTAGS
/GTAGS
/xcode/cube.build/Debug/ALL_BUILD.build/Script-F8C88135DA324AA994564A5B.sh
/xcode/cube.build/Debug/ALL_BUILD.build/dgph
